<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.baizhi.dao.ChapterDao">
    <select id="selectChapters" resultType="Chapter">
        select id,title,url,size,duration,up_date
        from chapter where album_Id=#{id} limit #{start},#{rows}

    </select>
    <select id="selectCount" resultType="Integer">
        select count(id) from chapter where album_Id=#{id}
    </select>

    <insert id="addOneChapter" parameterType="Chapter">
        insert into chapter
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!= null" >
                id,
            </if>
            <if test="title!=null and title!=''" >
                title,
            </if>
            <if test="url!=null and url!=''" >
                url,
            </if>
            <if test="size!=null and size!=''" >
                size,
            </if>
            <if test="duration!=null and duration!=''" >
                duration,
            </if>
            <if test="up_date!=null" >
                up_date,
            </if>
            <if test="albumId!=null and albumId!=''" >
                album_Id
            </if>
        </trim>


        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id!= null" >
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="title!=null and title!=''" >
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="url!=null and url!=''" >
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="size!=null and size!=''" >
                #{size,jdbcType=VARCHAR},
            </if>
            <if test="duration!=null and duration!=''" >
                #{duration,jdbcType=VARCHAR},
            </if>
            <if test="up_date!=null" >
                #{up_date},
            </if>
            <if test="albumId!=null and albumId!=''" >
                #{albumId,jdbcType=VARCHAR}
            </if>
        </trim>
    </insert>
    <update id="updateChapter">
      update chapter
      <set>
          <if test="title!=null and title!=''" >
              title=#{title,jdbcType=VARCHAR},
          </if>
          <if test="url!=null and url!=''" >
              url=#{url,jdbcType=VARCHAR},
          </if>
          <if test="size!=null and size!=''" >
              size=#{size,jdbcType=VARCHAR},
          </if>
          <if test="duration!=null and duration!=''" >
              duration=#{duration,jdbcType=VARCHAR},
          </if>
          <if test="up_date!=null" >
              up_date=#{up_date},
          </if>
          <if test="albumId!=null and albumId!=''" >
              album_Id=#{albumId,jdbcType=VARCHAR}
          </if>
      </set>
    where id=#{id}
    </update>
    <delete id="delChapter">
        delete from chapter where id=#{id}
    </delete>


</mapper>
